html, body {
    padding: 0;
    margin: 0;


}
#backgroundVideo {
    margin: 0;
    padding: 0;
    background-color:  rgb(0, 0, 0, 0.5);
    display: flex;
}
.videoHP {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background-size: cover;
}
h1, #loasd, #countdown, #countdown1, #loasd1, #meetNow {
    z-index: 1;
    position: relative;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic';
    text-align: center;
    font-size: 5.6vw;
    margin: 1;
    left: 4%;
}

#countdown {
    color: red;
}
#countdown1 {
    color: rgb(167, 109, 109);
}
#loasd {
    color: rgb(255, 0, 0, 0.25);
}
#loasd1 {
    color: rgb(167, 109, 109, 0.25)
}

